@import './variables';

.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: $spacing-xl;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 8%;
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    // Switch to column layout at 1200px
    @media screen and (max-width: 1200px) {
        padding-top: 120px;
        padding-bottom: 5%;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        min-height: auto;
    }

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-lg {
        padding-top: 100px;
        gap: $spacing-lg;
    }

    @include mobile {
        padding-top: 80px;
        padding-left: $container-padding-mobile;
        padding-right: $container-padding-mobile;
        gap: $spacing-md;
    }
}

.about-section .content {
    text-align: left;
    z-index: 2;

    // Center content at 1200px when layout switches to column
    @media screen and (max-width: 1200px) {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        text-align: center;
    }

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: $spacing-sm;
        color: $text-white;

        svg {
            font-size: 1.8em;

            @include mobile {
                font-size: 1.5em;
            }
        }

        // Hide desktop social icons at 1200px
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    .mobile_social_icons {
        display: none;

        // Show mobile social icons at 1200px
        @media screen and (max-width: 1200px) {
            padding-top: $spacing-sm;
            display: flex;
            flex-direction: row;
            gap: $spacing-sm;
            color: $text-white;
            justify-content: center;

            svg {
                font-size: 1.8em;

                @include mobile {
                    font-size: 1.5em;
                }
            }
        }
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;

        @media screen and (max-width: 1200px) {
            text-align: center;
        }

        @include mobile {
            font-size: 1.2em;
        }

        @include mobile-xs {
            font-size: 1.1em;
        }
    }

    .bio-text {
        font-size: 1.2em;
        line-height: 1.7;
        margin-top: $spacing-lg;
        max-width: 700px;
        font-weight: 500;

        @media screen and (max-width: 1200px) {
            max-width: 100%;
            text-align: center;
        }

        @include mobile {
            font-size: 1.1em;
            line-height: 1.6;
            margin-top: $spacing-md;
        }

        @include mobile-xs {
            font-size: 1em;
        }
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        white-space: nowrap;

        @media screen and (max-width: 1200px) {
            font-size: 3.5em;
            text-align: center;
            white-space: normal;
        }

        @include tablet {
            font-size: 3em;
        }

        @include mobile-lg {
            font-size: 2.5em;
        }

        @include mobile {
            font-size: 2.2em;
        }

        @include mobile-xs {
            font-size: 1.8em;
        }
    }
}

.about-section .image-wrapper {
    z-index: 2;

    // Center image at 1200px when layout is column
    @media screen and (max-width: 1200px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center top;
        box-shadow: 0px 8px 30px $purple-primary-40;
        border: 4px solid $purple-primary-50;
        transition: all 0.3s ease;

        @include desktop-sm {
            width: 220px;
            height: 220px;
        }

        @include tablet {
            width: 200px;
            height: 200px;
        }

        @include mobile-lg {
            width: 180px;
            height: 180px;
        }

        @include mobile {
            width: 150px;
            height: 150px;
            border-width: 3px;
        }

        @include mobile-xs {
            width: 120px;
            height: 120px;
        }
    }

    img:hover {
        transform: scale(1.05);
        box-shadow: 0px 12px 40px rgba($purple-primary, 0.6);
        border-color: rgba($purple-primary, 0.7);
    }
}

.about p {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;

    @include mobile {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
